.editableCellContainer {
  display: block;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #d3f7a9;
  color: #000;
}

.editableCell {
  padding: 5px;
  border: none;
  width: 100%;
  background-color: transparent;
  
}

:focus {
  outline: none;
};
